$green: #16DDA4;
$font: Roboto, sans-serif;

a .bklogo {
  // float: right;
  // text-align: center;
  width: 120px;
}
.title {
  h1 {
    text-align: center;
  }
}
.yeah button {
  @include button(shiny); 
}
.nah button {
  @include button(shiny, #ff0000);
}
.maybe button {
  @include button(shiny, #FF6600);
}
.bklink {
  text-align: center;
  
  width: 120px;
  
}
.choice {
  @include span-columns(12);
  text-align: center;
  a {
    color: white;
    text-decoration: none;
  }
  .bklogo {
    @include span-columns(12);
    // a .bklink {
    //   text-align: center;
    // }
  }
  
}

